body {
  margin: 0;
  padding: 0;
  background-color: #111D4A;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button, img {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #111D4A;
  font-family: sans-serif;
  width: 50px;
  height: 50px;
}

button, img:hover {
  background-color: #1E1E24;
}

p {
  color: #FFF8F0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40%;
  margin-right: 30%;
}
